<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue中多个元素或组件的过渡</title>
    <script src="vue.js"></script>
    <style type="text/css">
    .v-enter, .v-leave-to {
      opacity: 0;
    }
    .v-enter-active, .v-leave-active {
      /* .v-leave-active below version 2.1.8 */
      transition: opacity 1s;
    }
</style>
</head>
<body>
  <div id="app">
      <!-- 1. 多个元素过渡动画的效果 -->
      <!-- <transition mode="out-in">
        <div v-if="show" key='hello'>Hello World</div>
        <div v-else key='bye'>Bye World</div>
      </transition> -->

      <!-- 2. 多个组件过渡的效果 -->
      <!-- <transition mode="out-in">
        <child-one v-if="show"></child-one>
        <child-two v-else></child-two>
      </transition> -->

      <!-- 3. 动态组件过渡的效果 -->
      <!-- <transition mode="out-in">
        <child-one v-if="show"></child-one>
        <child-two v-else></child-two>
      </transition> -->

      <!-- 4. 动态组件过渡的效果 -->
      <transition mode="out-in">
        <component :is="type"></component>
      </transition>

      <button @click="handelClick">toggle</button>
  </div>

  <script type="text/javascript">
    Vue.component('child-one', {
      template: `<div>child-one</div>`
    })

    Vue.component('child-two', {
      template: `<div>child-two</div>`
    })

    var vm = new Vue({
        el: '#app',
        data: {
            show: true,
            type: "child-one"
        },
        methods: {
            handelClick: function() {
                this.show = !this.show;
                this.type = (this.type === 'child-one' ?
                             'child-two': 'child-one'
                             )
            },
        },
    })
  </script>
</body>
</html>
